todolist-red = #f06
todolist-blue = #37f
todolist-green = #af0
todolist-yellow = #fc0
todolist-dark = #333
todolist-real-dark = #222
todolist-light = #eee
todolist-white = #fff

todolist-background = todolist-real-dark
header-background = todolist-light
action-background = todolist-white
todo-background = todolist-dark
