gpu()
  backface-visibility hidden
  transform-style preserve-3d
  transform translateZ(0)

fullscreen()
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  height 100%
  box-sizing border-box
